{% extends '2017/base.html' %}
{% block body %}

	{% include "2017/sections/header.html" %}
    {% include "2017/sections/callForPapers.html" %}
	{% include "2017/sections/objectives.html" %}

    {% if news %}
        {% include '2017/sections/news.html' %}
    {% endif %}


    {% include "2017/sections/speakers.html" %}
    {% include "2017/sections/topicareas.html" %}
	{% include "2017/sections/dates.html" %}

    {% include "2017/sections/submissions_details.html" %}
    {% include "2017/sections/organizers.html" %}

    {% include "2017/sections/publications.html" %}

{% endblock %}