{% extends '2017/components/custom_page.html' %}
{% block page-content %}

    <div class="container practical-welcome">
        <div class="row col-lg-9 col-lg-offset-2 col-sm-offset-2">
            <h2>{{ base_info.practical_header }}</h2>
            <div class="welcome-block">{{ base_info.practical_main_text|linebreaks }}</div>
        </div>
    </div>


    <div class="container practical-block">
        <div class="row col-lg-9 col-lg-offset-2 col-sm-offset-2">


            {% for practical in practicals %}
                <div class="practical-container">
                    <div class="title">{{ practical.title }}</div>
                    <div class="description">{{ practical.description|linebreaks }}</div>

                    {% for block in practical.practical_block.all %}
                        <div class="practical-info-block row">

                            {% if block.photo %}

                                <div class="col-lg-3">
                                    <div class="image" style="background-image: url('{{ block.photo.url }}')"></div>
                                </div>
                                <div class="col-lg-9">
                                    <div class="block-title">{{ block.title }}</div>
                                    <div class="block-info">{{ block.text|linebreaks }}</div>

                                    {% if block.link %}

                                        <a href="{{ block.link }}" target="_blank">
                                            <button class="small-btn grey">{{ block.link }}</button>
                                        </a>

                                    {% endif %}
                                </div>

                            {% else %}

                                <div class="col-lg-12">
                                    <div class="block-title">{{ block.title }}</div>
                                    <div class="block-info">{{ block.text|linebreaks }}</div>

                                    {% if block.link %}

                                        <a href="{{ block.link }}" target="_blank">
                                            <button class="small-btn grey">{{ block.link }}</button>
                                        </a>

                                    {% endif %}
                                </div>

                            {% endif %}


                        </div>
                    {% endfor %}
                </div>
            {% endfor %}

        </div>
    </div>


{% endblock %}