{% load django_markdown %}
<section class="submission-details" id="submission-details">
    <div class="container">
        <div class="row col-lg-12">

            <h2>Submission details</h2>
            <div class="text">

                {% if base_info.submission_open %}
                    <div>{{ base_info.submission_start|markdown }}</div>
                    <div><a href="/brics/submit" target="_blank">
                        <button>Submit proposal</button>
                    </a></div>
                {% else %}
                    <div>Submission is closed</div>
                {% endif %}

                <div>{{ base_info.submission_details|markdown }}</div>
            </div>

        </div>
    </div>
</section>

<section class="welcomed_approaches">
    <div class="container">
        <div class="row col-lg-12">
            <div>
                {{ base_info.works_invitation|markdown }}
            </div>
        </div>
    </div>
</section>