{% extends '2017/base.html' %}
{% load bootstrap %}

{% block css %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
{% endblock %}


{% block body %}

    <div class="head"></div>

    {% block form %}
        <div class="form-welcome">
            <div class="container">
                <div class="form-title col-lg-12 col-lg-offset-2 col-sm-offset-2">Submission form</div>
                <div class="form-text col-lg-6 col-sm-12 col-lg-offset-2 col-sm-offset-2">
                    {{ base_info.submission_help }}<br>
                    <span class="required-help">Required fields are marked with an asterisk (*)</span>
                </div>
            </div>
        </div>


        <div class="container">

            <form class="form-horizontal submission-form" action="/brics/submit/" method="POST">
                {% csrf_token %}
                {{ form|bootstrap_horizontal }}

                <div class="padding-vertical border-top">
                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>

    {% endblock %}

{% endblock %}