section.fees {

  .fees-nums {
    margin: 15px 0;
  }

  .fees-item {
    padding-top: 15px;
    padding-bottom: 15px;

    .sum {
      font-size: 26px;
      font-weight: 500;
    }

    .caption {
      font-size: 15px;
      font-weight: 500;
    }

    .type {
      font-size: 14px;
    }
  }


}
