section.visa {
  background-color: #f7f7f7;

  h2 {
    margin-bottom: 40px;
  }

  .visa-icon {
    height: 220px;
    svg {
      height: 100%;
      width: 100%;
    }
  }

  .visa-welcome-text-block {
    padding-bottom: 30px;
  }
}