{% extends '2017/components/custom_page.html' %}
{% load bootstrap %}
{% load django_markdown %}



{% block page-content %}
    <div class="form-welcome">
        <div class="container">
            <div class="form-title col-lg-12 col-lg-offset-2 col-sm-offset-2">Submission form</div>
            <div class="form-text col-lg-6 col-sm-12 col-lg-offset-2 col-sm-offset-2">
                {{ base_info.submission_help|markdown }}<br>
                For more information please see <a href="/brics/submit/guidelines/">Submission guidelines</a><br>
                <span class="required-help">Required fields are marked with an asterisk (*)</span>
            </div>
        </div>
    </div>


    {% comment %}Errors{% endcomment %}
    {% if form.errors %}
        <div id="form-error">
            <p>The operation could not be performed because one or more error(s) occurred.<br/>Please resubmit the form
                after making the following changes:</p>
            <ul>
                {% for field in form %}
                    <li>{{ field.errors|striptags }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div class="container">

        <form class="form-horizontal submission-form" action="/brics/submit/" method="POST">
            {% csrf_token %}
            {{ form|bootstrap_horizontal }}

            <div class="padding-vertical">
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                        <button type="submit" class="btn btn-primary" id="submit-btn">Submit</button>
                    </div>
                </div>
            </div>

        </form>
    </div>

{% endblock %}


{% block scripts %}
    {{ block.super }}

    <script>
        document.getElementById("submit-btn").disabled = true;
        $('[required]').each(function () {
            $(this).parent().parent().find('label').addClass('required-field');
        });

        function verifyCallback (){
            document.getElementById("submit-btn").disabled = false;
        }
    </script>

{% endblock %}
